<h1>@Model.GetArtist()'s detail selection</h1>

<h2>Collection</h2>
<ul>
  <li><strong>@Model.GetAlbumTitle()</strong></li>
  <li>By: @Model.GetArtist()</li>
  <li>Price: @Model.GetPrice()</li>
</ul>

<p>
  <a href="/">Home</a>
</p>

<p>
  <a href="/cds/new">Add a cd to our selection</a>
</p>
