<h1>Add a CD</h1>
<p>Add a CD here:</p>
<form action="/addCD" method="post">
  <label for="album-name">Album name</label>
  <input id="album-name" name="album-name" type="text">
  <label for="artist-name">Artist name</label>
  <input id="artist-name" name="artist-name" type="text">
  <label for="price">Price</label>
  <input id="price" name="price" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a>
