<h1>Search for specific artist by name</h1>
<form action="/cdsearch" method="post">
  <label for="match">Artist you are looking for</label>
  <input type="text" name="match" id="match">
  <button type="submit">Search</button>
</form>

<p>
  <a href="/">Home</a>
</p>
