<h1>Search Results</h1>
@if (@Model.Count == 0)
{
  <h3>No match to your search</h3>
} else
{
  <h2>Matches</h2>
  <ul>
    @foreach (var cd in Model)
    {
      <li>@cd.GetAlbumTitle()
        <ul>
          <li>By: @cd.GetArtist()</li>
          <li>Price: @cd.GetPrice()</li>
          <br>
        </ul>
      </li>
    }
  </ul>
}

<p>
  <a href="/">Home</a>
</p>
